<div class="ui container">
  <div class="ui two column stackable centered grid">
    <div class="column centered">
      <h1>New Submission</h1>
      <div class="ui divider"></div>
      <form #submission="ngForm" (ngSubmit)="onFormSubmit();" class="ui form">

        <div class="error" *ngIf="submission.form.errors">
          <div class="ui negative message">
            <div class="header">
              Oops you missed something..
            </div>
            <ul class="list">
              {{submission.form.errors}}
            </ul>
          </div>
        </div>

        <div [ngClass]="{field: true, error: email.touched && email.errors}">
          <input type="text" name="email" (ngModel)="email" #email="ngModel" required placeholder="Email*" />
        </div>
        <div [ngClass]="{field: true, error: name.touched && name.errors}">
          <input type="text" name="name" ngModel #name="ngModel" required placeholder="Name*" />
        </div>
        <div [ngClass]="{field: true, error: link.touched && link.errors}">
          <input type="text" name="link" ngModel #link="ngModel" required placeholder="Your video link*" />
        </div>
        <div class="field">
          <textarea type="text" name="desc" ngModel #desc="ngModel" placeholder="About video"></textarea>
        </div>
        <button [disabled]="!submission.valid" [ngClass]="{'ui mini right floated button': true, loading: loading}">{{action}}</button>
      </form>
    </div>
  </div>
</div>