.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.28) !important;
}

body {
  background-color: #f0f0f0;
  width: inherit;
  margin: 0 auto;
}
.ui.segment {
  border-radius: 0;
  margin-bottom: 0rem;
}

.ui.grid > .column:not(.row) {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media only screen and (max-width: 767px) {
  .ui.grid > * {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .ui.grid > .column:not(.row) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .ui.stackable.grid > .column:not(.row) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0rem !important;
  }
  .ui.stackable.grid > .wide.column {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}



.info {
  font-size: 23px;
  font-weight: 200;
  padding-top: 6px;
  padding-bottom: 6px;
}

#categorynavbar {
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
}

.ui.content {
  padding: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui .card {
  border-radius: 0px !important;
}

.ui.card > :first-child {
  border-radius: 0px !important;
}
