.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.28) !important;
}

body {
  background-color: #f0f0f0;
  width: inherit;
  margin: 0 auto;
}
.ui.segment {
  border-radius: 0;
  margin-bottom: 0rem;
}

.ui.grid > .column:not(.row) {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media only screen and (max-width: 767px) {
  .ui.grid > * {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .ui.grid > .column:not(.row) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .ui.stackable.grid > .column:not(.row) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0rem !important;
  }
  .ui.stackable.grid > .wide.column {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 3s 3s;
  animation: fadein 0.5s, fadeout 3s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.info {
  font-size: 23px;
  font-weight: 200;
  padding-top: 6px;
  padding-bottom: 6px;
}

#categorynavbar {
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
}

.ui.content {
  padding: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ui .card {
  border-radius: 0px !important;
}

.ui.card > :first-child {
  border-radius: 0px !important;
}
